node_modules
apps/*/node_modules
packages/*/node_modules
dist
apps/*/dist
apps/docs/build
apps/docs/.docusaurus
.turbo
.env
.env.*
!.env.example
.git
.github
.idea
.devcontainer
*.md
!README.md
coverage
.prettierrc
eslint.config.mjs
docker-compose.yaml
