DATABASE_URL="postgres://user:password@localhost:5432/db"
JWT_SECRET="JWTSECRET"

DB_USER=user
DB_PASSWORD=password

OPENROUTER_API_KEY=sk-or-v1-xxxxxxx

VENTUM_ACV_EMAIL="email@example.com"
VENTUM_ACV_PASSWORD="P@ssw0rd"

MAILER_EMAIL="email@example.com"
MAILER_PASSWORD="P@ssw0rd"

PORT=8000