DATABASE_URL="postgres://user:password@localhost:5432/acv"
JWT_SECRET="JWTSECRET"

DB_USER=user
DB_PASSWORD=password

OPENROUTER_API_KEY=sk-or-v1-xxxxxxx

CAPTURE_ACV_EMAIL="email@example.com"
CAPTURE_ACV_PASSWORD="P@ssw0rd"

MAILER_EMAIL="email@example.com"
MAILER_PASSWORD="P@ssw0rd"

DEFAULT_IMPACT_METHOD_UUID="2f995579-06bd-4681-b07c-cee3b1805b0d"

LCA_CAPTURE_CLIENT_ID="lca-capture-client-id"
LCA_CAPTURE_CLIENT_SECRET="lca-capture-client-secret"

PORT=8000

CALC_API_KEY="calc-api-key"

BACKUP_S3_ENABLED=false
BACKUP_LOCAL_ENABLED=false
BACKUP_LOCAL_DIR=./backups
BACKUP_S3_ENDPOINT=""
BACKUP_S3_REGION="eu-south-2"
BACKUP_S3_BUCKET="lca-compare-backup"
BACKUP_S3_ACCESS_KEY_ID="your-access-key-id"
BACKUP_S3_SECRET_ACCESS_KEY="your-secret-access-key"