DATABASE_URL="postgres://user:password@localhost:5432/db"
JWT_SECRET="JWTSECRET"

DB_USER=user
DB_PASSWORD=password

OPENROUTER_API_KEY=sk-or-v1-xxxxxxx

CAPTURE_ACV_EMAIL="email@example.com"
CAPTURE_ACV_PASSWORD="P@ssw0rd"

MAILER_EMAIL="email@example.com"
MAILER_PASSWORD="P@ssw0rd"

DEFAULT_IMPACT_METHOD_UUID="2f995579-06bd-4681-b07c-cee3b1805b0d"

LCA_CAPTURE_CLIENT_ID="lca-capture-client-id"
LCA_CAPTURE_CLIENT_SECRET="lca-capture-client-secret"

PORT=8000